# Node.js
node_modules/

# Python
venv/
__pycache__/
*.pyc

# Environment variables
*.env

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Mac-specific files
.DS_Store
